
.bg_ball_1 {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    position: absolute;
    top: 27%; /* Center vertically */
    left: 20%; /* Center horizontally */
	transform: translate(-26%, -40%); /* Center both horizontally and vertically */
    animation-name: animate-ball;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    background: rgb(46, 67, 255);
    background: linear-gradient(318deg, rgba(46, 67, 255, 1) 0%, rgba(135, 168, 255, 1) 100%);
    transition: all 1.55s ease;
}
.bg_ball_1:hover
{
    height: 120px;
    width: 120px;
}
input{
    padding: 10px;
}
.card2 
{
    height: 500px;
    width: 900px;
    position: absolute;
    top: 190px;
    left: 300px;
    z-index: 1001;
    border-radius: 50px;
    background-color: rgba(229, 233, 246, 0.4);
    box-shadow: 0 4px 30px rgba(150, 150, 150, 0.1);
    backdrop-filter: blur(10px);
}
.card2 h1
{
        text-transform: uppercase;
        color: black;
        width: 100%;
        text-align: center;
        font-size: 28;
        margin-top: 60px;
        transition: all .55s ease;
}
.card2 h1:hover
{
    color: #3d72ff;
}


