<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SMS </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
  
    <nav class="navbar">
        <section class="container">
        <div class="logo">
            <h1>Administrative Dashboard</h1>
        </div>

        <ul>
        <li class="item"><a href="teacher.html"> Register Teacher</a></li>
        <li class="item"><a href="create.html">Register Student</a></li>
        <li class="item"><a href="home.html">Register Parent</a></li>
        <li class="item"><a href="login.html">Delete teacher </a></li>
        <li class="item"><a href="login.html">Delete Student </a></li>
        <li class="item"><a href="login.html">Delete Parent </a></li>
        <li class="item"><a href="login.html">Manages Fee</a></li>
        <li class="item"><a href="/admin_logout">Logout</a></li>
        </ul>
    </section>
    </nav>
  

</body>
</html>