<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylelogin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">

    <title>Document</title>
</head>
<body>
     

    <nav class="navbar">
        <section class="container">
        <div class="logo">
            <h1>Administrative Dashboard</h1>
        </div>

        <ul>
        <li class="item"><a href="teacher.html"> Register Teacher</a></li>
        <li class="item"><a href="create.html">Register Student</a></li>
        <li class="item"><a href="home.html">Register Parent</a></li>
        <li class="item"><a href="delete.html">Delete teacher </a></li>
        <li class="item"><a href="delstd.html">Delete Student </a></li>
        <li class="item"><a href="login.html">Manages Fee</a></li>
        </ul>
    </section>
    </nav>
      


    <div >
    <section class="container1">
    <div class="bg_ball"></div>
    <div class="card">
    <h1>Delete Parent</h1>
    <form action="">
    <input type="text" id="uname" name="username" placeholder="Username" class="field" required><br>
    <input type="submit" value="Delete" class="btn">
    </form>
    </div>
    
    </section>
 
</body>
</html>