<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylelogin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}">
    
    <title>Document</title>
</head>

<header>
    <nav class="navbar">
        <section class="container">
            <div class="logo">
                <h1>Student Dashboard</h1>
            </div>

            <ul>
                <li class="item"><a href="/view_courses">Courses</a></li>
                <li class="item"><a href="/attendance">Marks</a></li>
                <li class="item"><a href="viewmarks.html">Attendance</a></li>
                <li class="item"><a href="/leaveform">Leave Request</a></li>
                <li class="item"><a href="">Fee Challan</a></li>
                <li class="item"><a href="">Class behaviour</a></li>
                <li class="item"><a href="">log out</a></li>
            </ul>
        </section>
    </nav>
</header>

<body>

    <div>
        <div class="bg_ball_1"></div>

        <div class="card2">
            <h1>Fee Concession</h1>
            <form method="POST" action="{{ url_for('submit_fee_concession') }}">
                <div class="form-group">
                    <br>
                    Reason : <textarea id="reason" name="reason" placeholder="" class="field" required></textarea><br><br>
                    Additional Details : <textarea id="details" name="details" placeholder="" class="field"></textarea><br><br>
                    <button class="btn" id="btn2">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
