<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylelogin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}">

    <title>Document</title>
</head>

<header>
    <nav class="navbar">
        <section class="container">
            <div class="logo">
                <h1>Student Dashboard</h1>
            </div>

            <ul>
                <li class="item"><a href="">Courses</a></li>
                <li class="item"><a href="viewmarks.html">Marks</a></li>
                <li class="item"><a href="viewattendance.html">Attendance</a></li>
                <li class="item"><a href="feeconcession.html">Fee Concession</a></li>
                <li class="item"><a href="">Fee Challan</a></li>
                <li class="item"><a href="">Class behaviour</a></li>
                <li class="item"><a href="">log out</a></li>
            </ul>
        </section>
    </nav>
</header>

<body>

    <div>
        <div class="bg_ball_1"></div>

        <div class="card2">
            <h1>Leave Application Form</h1>
            <form method="POST" action="{{ url_for('submit_leave') }}">
                <div class="form-group">
                    <br>
                    Start Date : <input type="date" id="startDate" name="startDate" placeholder="Start Date" class="field" required><br>
                    End Date : <input type="date" id="endDate" name="endDate" placeholder="End Date" class="field" required><br>

                    <!-- Replace "Total Days" with "Username" -->
                    Username : <input type="text" id="username" name="username" placeholder="Username" class="field" required><br><br>
                    Name : <input type="text" id="name" name="name" placeholder="Name" class="field" required><br><br>


                    Comments : <textarea id="comments" name="comments" placeholder="Comments" class="field"></textarea><br><br><br>
                    Select Leave Type : <select id="leaveType" name="leaveType" class="field">
                        <option value="sick">Sick Leave</option>
                        <option value="urgent">Urgent Work</option>
                        <option value="vacation">Vacation</option>
                        <option value="personal">Personal Leave</option>
                    </select><br>
                    <button class="btn" id="btn1">Submit</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
