<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> SMS </title>
    <link rel="stylesheet" href="admin.css">
</head>
<body>
  
    <nav class="navbar">
    <section class="container">
        <div class="logo">
            <h1>Parent Dashboard</h1>
        </div>

        <ul>
        <li class="item"><a href="chileprofile.html">Child Profile</a></li>
        <li class="item"><a href="schedulemeeting.html">Schedule Meeting</a></li>
        <li class="item"><a href="login.html">log out</a></li>
       
        </ul>
    </section>
    </nav>
    <section class="container11">
        <div class="profile-section">
            <h2 class="back_profile">Teacher Information</h2>
            <div class="profile-info">
                <p><strong>Name:</strong> {{ name }}</p>
                <p><strong>CNIC:</strong> {{ cnic }}</p>
                <p><strong>Gender:</strong> {{ gender }}</p>
                <p><strong>Phone No:</strong> {{ phno }}</p>
                
            </div>
        </div>
    </section>

</body>
</html>