<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet type" type="text/css" href="{{url_for('static',filename='css/admin.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/create.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylelogin.css') }}">

    <title>Document</title>
</head>

<header>
    <nav class="navbar">
        <section class="container">
        <div class="logo">
            <h1>Administrative Dashboard</h1>
        </div>

        <ul>
        <li class="item"><a href="/render_admindash">Home</a></li>
        <li class="item"><a href="teacher.html">Register Teacher</a></li>
        <li class="item"><a href="teacher.html">Delete Teacher</a></li>
        <li class="item"><a href="/render_delstd">Delete Student </a></li>
        <li class="item"><a href="login.html">Add Courses</a></li>
        <li class="item"><a href="login.html">Manages Fee</a></li>
        <li class="item"><a href="/admin_logout">log out</a></li>
        </ul>
    </section>
    </nav>
      
</header>

<body>

    <div>
        <div class="bg_ball_1"></div>

        <div class="card2">
            <h1>Create Student Account</h1>
            <form action="{{ url_for('add_Student') }}" method="POST">
                <div class="form-group">
                    <input type="text" id="name" name="name" placeholder="Full Name" class="field" required>
                    <input type="text" id="uname" name="username" placeholder="Username" class="field" required>
                    <input type="email" id="email" name="email" placeholder="Student Email" class="field" required>
                    <input type="text" id="phone" name="phone" placeholder="Phone" class="field" required>
                    <label for="class_">Class:</label>
                    <select id="class_" name="class_" class="field" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>                    
                    <label for="gender">Gender:</label>
                    <select id="gender" name="gender" class="field" required>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select><br><br>
                    <input type="text" id="address" name="address" placeholder="Address" class="field" required>
                    <input type="text" id="parentname" name="parentname" placeholder="Parent Name" class="field" required>
                    <input type="number" id="fatherCnic" name="parentID" placeholder="Father's CNIC" class="field" required>
                    <input type="text" id="parentphone" name="parentphone" placeholder="Parent Contact" class="field" required>
                    <input type="email" id="parentemail" name="parentemail" placeholder="Parent Email" class="field" required>
                    <input type="password" id="pass" name="password" placeholder="Password" class="field" required>
                    <button class="btn" id="btn1">Create Account</button>
                    <div id="messageBox" class="message-box">
                        {% if UI_message %}
                            <p style="color: rgb(97, 70, 70); text-align: center;">{{ UI_message }}</p>
                        {% endif %}
                    </div>
                </div>
                  
     
            </form>
        </div>
    </div>

</body>

</html>
