<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="admin.css">
</head>
<nav class="navbar">
    <section class="container">
        <div class="logo">
            <h1>Teacher Dashboard</h1>
        </div>

        <ul>
       
        <li class="item"><a href=""> Attendance</a></li>
        <li class="item"><a href="">track attitude</a></li>
        </ul>
    </section>
    </nav>
<body>
   <h1>upload marks</h1> 
</body>
</html>